<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShopPhone</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="http://localhost:5500/congkhai/home.css">
</head>
<body>
    <div class="container">
        <!-- Content here -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Trang Chu <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="#">Iphone Mới <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown active">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Iphone Cũ
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Iphone dùng chưa đến 1 tháng</a>
                    <a class="dropdown-item" href="#">Iphone dùng chưa đến 1 năm</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Thông tin giá iphone thế giới</a>
                  </div>
                </li>
                <li></li>
                <li></li>
                <li class="nav-item active">
                  <form >
                    <input class="nav-item active" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success  my-sm-0" type="submit">Search</button>
                </form>
                </li>
              </ul>
              
              <form class="form-inline my-1 my-lg-0">
      
                
                <button class="btn btn-outline-success my-2 my-sm-0" type="Đăng kí"><a href="/register">Register</a></button>
                
              </form>
              <form action="/logout?_method=DELETE" method="POST">
                <button type="submit">LogOut</button>
            </form>
            </div>
          </nav>

      </div>
      <div class="container">
        <!-- Content here -->
        <p>

        </p>
      </div>
      <div class="container">
        <!-- Content here -->
        <p>

        </p>
      </div>
      <div class="container">
        <!-- Content here -->
        <div class="card-deck">
            <div class="card">
                <img src="https://cdn.cellphones.com.vn/media/catalog/product/cache/7/image/9df78eab33525d08d6e5fb8d27136e95/i/p/iphone-11-pro-max-space-select-2019.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Iphone X</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
            <div class="card">
              <img src="https://cdn.cellphones.com.vn/media/catalog/product/cache/7/image/1000x/040ec09b1e35df139433887a97daa66f/i/p/iphone11-green-select-2019.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Iphone XS</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
            <div class="card">
              <img src="https://cdn.cellphones.com.vn/media/catalog/product/cache/7/image/9df78eab33525d08d6e5fb8d27136e95/i/p/iphone8-plus-silver-select-2018.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Iphone 8</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
            <div class="card">
              <img src="https://cdn.cellphones.com.vn/media/catalog/product/cache/7/small_image/350x/9df78eab33525d08d6e5fb8d27136e95/i/p/iphone_8_64gb.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Ihpne 8 Plus</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
          </div>
      </div>
      
      <div class="container">
        <!-- Content here -->
        <div class="card-deck">
            <div class="card">
              <img src="https://cdn.cellphones.com.vn/media/catalog/product/cache/7/image/1000x/040ec09b1e35df139433887a97daa66f/i/p/iphone-11-pro-max-gold-select-2019.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Iphone 11</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
            <div class="card">
              <img src="https://cdn.cellphones.com.vn/media/catalog/product/cache/7/small_image/350x/9df78eab33525d08d6e5fb8d27136e95/i/p/iphone_xs_max_64gb.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Iphone XSmax</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
            <div class="card">
              <img src="https://cdn.cellphones.com.vn/media/catalog/product/cache/7/small_image/350x/9df78eab33525d08d6e5fb8d27136e95/i/p/iphone_xs_max_256gb.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Iphone XS</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
            <div class="card">
              <img src="https://cdn.cellphones.com.vn/media/catalog/product/cache/7/small_image/350x/9df78eab33525d08d6e5fb8d27136e95/i/p/iphone_xr_64gb.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Iphone X</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
          </div>
      </div>

</body>
</html>
